<link rel="stylesheet" href="/static/css/navbar.css" />

<nav id="navbar">
  <a id="navbar-logo" href="/">
    DONATIA
  </a>

  <div id="navbar-links">
    <a class="underline" href="/discover">Discover</a>

    {{#if authenticated}}
    <div class="navbar-dropdown">
      <a id="login-button" href="/dashboard">My Account</a>
      <div class="navbar-dropdown-content">
        <a href="/dashboard">Dashboard</a>
        <a href="/auth/logout">Log Out</a>
      </div>
    </div>
    {{else}}
    <a id="login-button" href="/auth/google">Log In</a>
    {{/if}}
  </div>
</nav>
