<div id="navbar">
  <a id="navbar-logo" href="/">
    DONATIA
  </a>

  <div id="navbar-links">
    <a href="/discover">Discover</a>
    <a href="/dashboard">My Dashboard</a>
    <a id="login-button">Log In</a>
  </div>
</div>
