<link rel="stylesheet" href="/static/css/navbar.css" />

<nav id="navbar">
  <a id="navbar-logo" href="/">
    DONATIA
  </a>

  <div id="navbar-links">
    <a class="navbar-link underline" href="/discover">Discover</a>
    {{#if user}}
    <div class="navbar-dropdown">
      <a class="navbar-account-container" href="/dashboard">
        <img class="navbar-account-image" src="{{user._json.picture}}" />
      </a>
      <div class="navbar-dropdown-content">
        <a href="/auth/google">Signed in as <b>{{user.displayName}}</b></a>
        <a href="/dashboard">Dashboard</a>
        <a href="/auth/logout">Sign Out</a>
      </div>
    </div>
    {{else}}
    <a class="navbar-link" id="login-button" href="/auth/google">Sign In</a>
    {{/if}}
  </div>
</nav>
