<link rel="stylesheet" href="/static/css/navbar.css" />

<nav id="navbar">
  <a id="navbar-logo" href="/">
    DONATIA
  </a>

  <div id="navbar-links">
    <a class="underline" href="/discover">Discover</a>
    <a class="underline" href="/dashboard">My Dashboard</a>
    <a id="login-button">Log In</a>
  </div>
</nav>
