<link rel="stylesheet" href="/static/css/navbar.css">

<nav id="navbar">
  <a id="navbar-logo" href="/">
    DONATIA
  </a>

  <div id="navbar-links">
    <a class="underline" href="/discover">Discover</a>
    <a class="underline" href="/dashboard">My Dashboard</a>
    <a id="login-button" href="/auth/google">Log In</a>
    <a id="logout-button" href="/auth/logout">Log Out</a>
  </div>
</nav>
