<div class="search-card">
  <div class="search-left">
    <div>
      <h2 class="search-name">{{title}}</h2>
      <h2 class="search-address">{{address}}</h2>
      <h2 class="search-phone">{{phone}}</h2>
    </div>
    <div class="search-dropoff-options">
      <h2>Drop off</h2>
      <h2>Mail in</h2>
    </div>
  </div>
  <div class="search-right">
    <p>this is a test</p>
  </div>
</div>
