<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Google STEP App</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.6/handlebars.min.js" integrity="sha256-usTqAE1ywvdMtksWzdeWzD75MsfJN0h0U7y2NtZL3N0=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="static/css/searchCard.css">
</head>
<body>

    {{{body}}}
 
</body>
</html>
