<form method="post">
  <div id="form-container">
    <label for="organization-name">Name</label><br>
    <input disabled type="text" id="organization-name" name="organization-name"><br>

    <label for="organization-description">Description</label><br>
    <input disabled type="text" id="organization-description" name="organization-description"><br>

    <label for="organization-address">Address</label><br>
    <input disabled type="text" id="organization-address" name="organization-address"><br>

    <label for="organization-phone">Phone</label><br>
    <input disabled type="text" id="organization-phone" name="organization-phone"><br>

    <label for="organization-website">Website</label><br>
    <input disabled type="text" id="organization-website" name="organization-website"><br>

    <label for="organization-email">Email</label><br>
    <input disabled type="text" id="organization-email" name="organization-email"><br>
  </div>
  <button>Submit</button>
</form>

<script src="/static/js/dashboardInfoForm.js"></script>

<script>
  if ({{ editable }}) {
    let inputList = document.getElementsByTagName("input");
    for (let item of inputList) {
      item.removeAttribute("disabled");
    }
  }
</script>
