<script src="https://maps.googleapis.com/maps/api/js?key={{MAPS_KEY}}&libraries=places"></script>
<script type="module" src="/static/js/dashboardInfoForm.js"></script>

<form id="org-info-form" method="post">
  <div id="form-container">
    <label for="name">Name</label><br />
    <input disabled required type="text" id="name" name="name" /><br />

    <label for="description">Description</label><br />
    <input disabled required type="text" id="description" name="description" />
    <br />

    <label for="address">Address</label><br />
    <input disabled required type="text" id="address" name="address" /><br />

    <label for="phone">Phone</label><br />
    <input disabled type="number" id="phone" name="phone" /><br />

    <label for="website">Website</label><br />
    <input disabled type="url" id="website" name="website" /><br />

    <label for="email">Email</label><br />
    <input disabled required type="email" id="email" name="email" /><br />

    <input disabled type="checkbox" id="acceptsDropOff" name="acceptsDropOff" />
    <label for="acceptsDropOff">Accepts drop off donations</label><br />

    <input disabled type="checkbox" id="acceptsPickUp" name="acceptsPickUp" />
    <label for="acceptsPickUp">Available to pick up donations</label><br />

    <input disabled type="checkbox" id="acceptsShipping" name="acceptsShipping" />
    <label for="acceptsShipping">Accepts shipped donations</label><br />
  </div>
  {{#if editable}}
  <button>Submit</button>
  {{/if}}
</form>

{{#unless editable}}
<a href="/dashboard/edit">
  <button>Edit</button>
</a>
{{/unless}}

<script>
  if ({{editable}}) {
    let inputList = document.getElementsByTagName("input");
    for (let item of inputList) {
      item.removeAttribute("disabled");
    }
  }
</script>
