<div class="page">
  <div id="discover">
    <div id="search">
      <div id="search-dropdown">
  a
      </div>
      <div id="search-list">

      </div>
    </div>
    <div id="map">
  b
    </div>
  </div>
</div>
