<link rel="stylesheet" href="static/css/discover.css">
<link rel="stylesheet" href="static/css/searchCard.css">

<script async defer
  src="https://maps.googleapis.com/maps/api/js?key={{MAPS_KEY}}&callback=initMap">
</script>
<script> 
  // Store handlebars organization data for javascript files.
  var organizations = {{{json organizations}}}; 
</script>
<script src="static/js/maps.js"></script>

<div id="discover">
  <div id="search">
    <select id="search-dropdown">
      <option value="all">All</option>
      <option value="clothing">Clothing</option>
      <option value="furniture">Furniture</option>
    </select>
    
    <div id="search-list">
      {{#each organizations}}
        {{> searchCard organization = this }}
      {{/each}}
    </div>
  </div>
  <div id="map">
    
  </div>
</div>
