<link rel="stylesheet" href="static/css/discover.css">
<link rel="stylesheet" href="static/css/searchCard.css">

<script async defer
  src="https://maps.googleapis.com/maps/api/js?key={{MAPS_KEY}}&callback=initMap">
</script>
<script src="static/js/maps.js"></script>
<script src="static/js/searchList.js"></script>

<div id="discover">
  <div id="search">
    <select id="search-dropdown" onchange="updateResults()">
      <option value="all">All</option>
      <option value="clothing">Clothing</option>
      <option value="furniture">Furniture</option>
    </select>
    <div id="search-list"></div>
  </div>

  <div id="map"></div>
</div>

{{!-- Search card template for client-side rendering --}}
<template>
  <div class="search-card">
    <div class="search-left">
      <div class="search-dropoff-info">
        <h1 class="search-title"></h1>
        <h2 class="search-address"></h2>
        <h2 class="search-phone"></h2>
      </div>
      <div class="search-dropoff-options">
        <p class="drop-off">Drop off </p>
        <p class="mail-in">Mail in </p>
        <p class="pick-up">Pick up </p>
      </div>
    </div>
    <div class="search-right">
      <h2>Accepts</h2>
      <div class="search-categories-contianer">
      </div>
    </div>
  </div>
</template>
