<link rel="stylesheet" href="static/css/discover.css">
<link rel="stylesheet" href="static/css/searchCard.css">

<script async defer
  src="https://maps.googleapis.com/maps/api/js?key={{MAPS_KEY}}&callback=initMap">
</script>
<script src="static/js/maps.js"></script>
<script src="static/js/searchList.js"></script>

<div id="discover">
  <div id="search" onscroll="infinityScroll()">
    <select id="search-dropdown">
      <option value="all">All</option>
      <option value="clothing">Clothing</option>
      <option value="furniture">Furniture</option>
    </select>
    <div id="search-list"></div>
  </div>
  <div id="map"></div>
</div>
