<link rel="stylesheet" href="static/css/landing.css" />

<div id="landing" class="flex-row-centered section">
  <div class="flex-row-centered content">
    <div id="landing-text">
      <h1 id="landing-header">
        Find Where to Donate Items
      </h1>
      <p id="landing-info" class="text">
        Donatia makes donating simple by connecting people to non-profit organizations. By better
        informing donors, we aim to reduce waste and increase donations.
      </p>
      <div id="landing-buttons">
        <a id="landing-search-button" href="/discover">
          Discover Organizations
        </a>
        <a id="landing-register-button" target="_blank" href="https://forms.gle/GHqkzSprniEcj1iM6">
          Register your Organization
        </a>
      </div>
    </div>
    <img class="big-image" src="static/images/landing/donate.svg" />
  </div>
</div>

<div class="flex-row-centered section">
  <div id="icon-body" class="content">
    <div id="find-online" class="icon">
      <img src="static/images/landing/book_online.svg" />
      <p class="text">Quickly get info online</p>
    </div>

    <div id="help-people" class="icon">
      <img src="static/images/landing/happy.svg" />
      <p class="text">Help people in need</p>
    </div>

    <div id="reduce-waste" class="icon">
      <img src="static/images/landing/trash.svg" />
      <p class="text">Throw fewer items away</p>
    </div>
  </div>
</div>

<div id="about" class="flex-row-centered section">
  <div class="flex-row-centered content">
    <img class="big-image" src="static/images/landing/study.svg" />
    <p id="about-text" class="text">
      Researching nonprofit organization to donate to can be tedious. There are roughly 1.5 million
      nonprofit organizations in the United States, each with their own mission, acceptable donation
      items, and methods for donating. With so much variety, it can be difficult to find the best
      organization that seeks your donation.
      <br />
      <br />
      Donatia simplifies this process by providing an online platform to let donors filter through
      find organizations easily. Our filtering platform makes is simple to find relevant
      organizations and view their information.
    </p>
  </div>
</div>

<div id="footer">
  <a href="https://github.com/googleinterns/donatia">
    <img src="static/images/landing/github.png" />
  </a>
  <a href="www.linkedin.com/in/sabrina-snider">Sabrina Snider</a>
  <a href="www.linkedin.com/in/malcolmrjones">Malcolm Jones</a>
  <a href="www.linkedin.com/in/abreo">Dan Abreo</a>
</div>
