<link rel="stylesheet" href="static/css/landing.css" />

<div id="landing" class="flex-row-centered">
  <div id="landing-body" class="flex-row-centered">
    <div id="landing-left">
      <h1 id="landing-header" class="text">
        Find Where to Donate Items
      </h1>
      <div>
        <p id="landing-info" class="text">
          Donatia makes donating simple by connecting people to non-profit organizations. 
          By better informing donors, we aim to reduce waste and increase donations.
        </p>
      </div>
      <div id="landing-buttons">
        <a id="landing-search-button" href="/discover">
          Discover Organizations
        </a>
        <a id="landing-register-button" target="_blank" href="https://forms.gle/GHqkzSprniEcj1iM6">
          Register your Organization
        </a>
      </div>
    </div>
    <img id="donate-image" src="static/images/donate.svg">
  </div>
</div>

<div id="about">

<div>
