<link rel="stylesheet" href="static/css/landing.css">

<div id="landing">
  <h1 id="landing-text">
    Find the best organizations to donate your items to
  </h1>
  <a id="landing-search-button" href="/discover">
    Discover Organizations
  </a>
</div>
