<link rel="stylesheet" href="/static/css/moreInfo.css" />
<script src="/static/js/moreInfo.js" type="module"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key={{MAPS_KEY}}"></script>

<div id="content">
  <div id="info-section"></div>
  <div id="categories-section"></div>
</div>

<script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
