body {
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

button {
  background-color: #04c39a;
  border: none;
  color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
}

button:hover {
  background-color: #03b38d;
}

.dashboard-section {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.dashboard-nav {
  width: 20%;
  padding: 3% 3%;
}

.dashboard-nav > a {
  display: block;
  padding: 1em;
  font-size: 1.1rem;
}

.dashboard-nav > a:hover {
  cursor: pointer;
  background-color: #f1f1f1;
}

.dashboard-content {
  width: 80%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  background-color: #f1f1f1;
  padding: 3em;
}

#add-categories,
#quality-container > * > input,
#donation-container > * > input {
  width: 50%;
}

#quality-container > * > button,
#donation-container > * > button {
  padding: 0px 5px;
}

input,
select {
  width: 80%;
  padding: 10px 10px;
  margin-top: 5px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

input[type='checkbox'] {
  width: auto;
}

.add-category-card {
  padding: 1em;
  margin: 1em;
  border-style: solid;
}

.category-card-buttons {
  display: flex;
  justify-content: flex-end;
}

.alert {
  padding: 20px;
  background-color: #cc3300;
  color: white;
  margin-bottom: 15px;
  text-align: center;
  font-size: 1.2rem;
}

.alert > a {
  color: #0dd9fb;
}
