dashboard-section {
  display: -webkit-flex;
  display: flex;
  height: 83vh;
}

dashboard-nav {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background: #ccc;
  padding-top: 3em;
}

dashboard-nav > ul {
  list-style-type: none;
}

#dashboard-title {
  text-align: center;
  font-size: 3em;
}

dashboard-content {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: #f1f1f1;
  padding: 3em;
  overflow-y: scroll;
}

#form-container > input {
  margin-bottom: 1em;
}

.category-card {
  padding: 1em;
  margin: 1em;
  border-style: solid;
}

.category-card-buttons {
  display: flex;
  justify-content: flex-end;
}
