#discover {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}

#search,
#map {
  width: 50%;
}

#search {
  padding: 20px;
  border-right: 1px solid #ececec;
}

#search-dropdown {
  width: 100%;
  padding: 10px;
  border-radius: 18px;
}

#search-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
