body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#discover {
  flex: 1;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

#search {
  width: 50%;
  padding: 20px;
  border-right: 1px solid #ececec;
  overflow-y: scroll;
}

#map {
  width: 50%;
  height: 100%;
}

#search-dropdown {
  width: 100%;
  padding: 10px;
  border-radius: 18px;
  background-color: white;
}

#search-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
