/* Landing Section */

.flex-row-centered {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#landing {
  background-color: #96ddf2;
  padding: 10vh 8vw;
}

#landing-body {
  max-width: 1300px;
}

#landing-left {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.text {
  color: #3b3b3b;
  text-align: left;
  font-size: 1.8rem;
}

#landing-header {
  color: #242424;
  font-size: 4.5rem;
  margin: 0px;
}

#donate-image {
  align-self: center;
  max-height: 500px;
  flex: 1;
}

#landing-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#landing-buttons > a{
  color: white;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  padding: 13px 25px;
  font-size: 1.4rem;
  margin-right: 20px;
  margin-bottom: 20px;
}

#landing-search-button {
  background-color: #eba400;
}

#landing-search-button:hover {
  background-color: #aa8225;
}

#landing-register-button {
  background-color: #32d9a1;
}

#landing-register-button:hover {
  background-color: #03b38d;
}

/* About Section */
#about {
  height: 50vh;
}
