#navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #086788;
  color: white;

  /* Border shadow */
  -webkit-box-shadow: 0px 0px 3px 0px #929292;
  -moz-box-shadow: 0px 0px 3px 0px #929292;
  box-shadow: 0px 0px 3px 0px #929292;
}

a {
  /* Remove default styling */
  color: inherit;
  text-decoration: inherit;
}

#navbar a:hover {
  cursor: pointer;
}

#navbar-logo {
  margin: 0;
  padding: 0;
  font-size: 1.8rem;
}

.navbar-link {
  margin: 10px;
  padding: 5px;
  margin-left: 1em;
}

.underline:hover {
  border-bottom: 2px solid white;
  margin-bottom: 8px;
}

#login-button {
  font-weight: bold;
  padding: 6px 20px;
  border-radius: 15px;
  background-color: #59d633;
  color: white;
}

#login-button:hover {
  background-color: #409726;
}

.navbar-dropdown {
  position: relative;
  display: inline;
  margin-left: 1em;
}

.navbar-dropdown-content {
  position: absolute;
  display: none;
  top: 40px;
  right: 0px;
  background-color: aliceblue;
  z-index: 1;
}

.navbar-dropdown-content > * {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  width: 120px;
}

.navbar-dropdown:hover .navbar-dropdown-content {
  display: block;
}

.navbar-dropdown-content > a:hover {
  background-color: #f1f1f1;
}

#navbar-links {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
}

.navbar-account-container {
  display: flex;
  width: 40px;
  height: 40px;
}

.navbar-account-image {
  height: 100%;
  border-radius: 20px;
}
