body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#discover {
  flex: 1;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

#search {
  width: 50%;
  padding: 20px;
  border-right: 1px solid #ececec;
  overflow-y: scroll;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
}

#search-icon-container {
  display: flex;
  align-items: center;
}

#search-icon {
  height: 25px;
  width: 25px;
  cursor: pointer;
  padding: 0px 8px 0px 5px;
}

#map {
  width: 50%;
  height: 100%;
}

#filter-row {
  display: flex;
  flex-direction: row;
}

#filter-container {
  position: relative;
  border-radius: 18px;
  background-color: white;
  border: 1.7px solid #4f4f4f;
  flex: 1;
}

#favorite-button {
  font-weight: bold;
  padding: 6px 10px;
  border-radius: 15px;
  background-color: #c38a04;
  color: white;
  border: none;
  margin: 5px 10px;
}

#favorite-button:hover {
  background-color: #aa8225;
}

#favorite-button:focus {
  outline: none;
}

.signin-favorites-container {
  position: relative;
}

.signin-favorites-container .signin-favorites-button {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  top: 130%;
  left: 50%;
  margin-left: -60px;
}

.signin-favorites-container:hover .signin-favorites-button {
  visibility: visible;
}

#filters {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#autocomplete-input {
  flex: 1;
  box-sizing: border-box;
  padding: 8px 10px;
  border: none;
  background: transparent;
}

#autocomplete-input:focus {
  outline: none;
}

#autocomplete-list {
  position: absolute;
  width: 100%;
  z-index: 99;
  background-color: white;
  border: 1.7px solid #4f4f4f;
  border-top: none;
}

#autocomplete-list:empty {
  display: none;
}

.autocomplete-option {
  padding: 10px;
  background-color: white;
}

.autocomplete-option:hover {
  cursor: pointer;
  background-color: #f1f1f1;
}

#search-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#loading-container {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

#loading-icon {
  height: 50px;
  width: 50px;
  animation: rotation 5s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
