body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#discover {
  flex: 1;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

#search {
  width: 50%;
  padding: 20px;
  border-right: 1px solid #ececec;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

#map {
  width: 50%;
  height: 100%;
}

#autocomplete-input {
  box-sizing: border-box;
  width: 100%;
  padding: 8px 10px;
  border-radius: 18px;
  background-color: white;
}

#autocomplete-list {
  position: absolute;
  z-index: 99;
  border: 1px solid black;
}

#search-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
